@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

.imgtxt{
    width: 45%;
    height: 45%;
}

.paragrafo{
     margin-right: 100px;
     margin-left: 100px;
     text-align: justify;
     margin: top;
     font-size: 20px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: chartreuse;
    font-size: 40px;
}




      